<div class="list-group-item list-group-item-action" [ngClass]="{'list-group-item-danger': car.isSold }">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ car.name }}</h5>
        <small>{{ car.date }}</small>
    </div>
    <p class="mb-1">{{ car.model }}</p>
    <br>
    <button type="button" class="btn btn-outline-primary" (click)="onDelete()">delete</button>
    <button type="button" class="btn btn-outline-secondary" (click)="onBuy()">buy</button>  
    {{ car.id }}
</div>